// https://vuepress.vuejs.org/config/#index-styl

.text-red
  color: indianred

.text-green
  color: mediumseagreen

.text-blue
  color: steelblue

.theme-code-group
  margin: 0.85rem 0

blockquote
  background-color: #f3f5f7
  border-left-color: teal
  color: #2c3e50
